table {
  max-width: 1000px;
  margin: 2rem auto;
}
th {
  font-size: 20px;
}
td {
  padding: 1rem;
  min-width: 5rem;
}
h4 i {
  font-size: 12px;
}
button {
  cursor: pointer;
  font-size: 20px;
  margin: .5rem;
}
select {
  height: 30px;
  width: 5rem;
  margin: -1rem -1px;
}
input {
  height: 40px;
  width: 350px;
  font-size: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.App {
  text-align: center;
}

.tweet-row {
  cursor: pointer;
  outline: 2px solid #000;
  margin-bottom: 1rem;
  max-width: 1000px;
}
.tweet-row:hover {
  background: #dfd;
}


.pagination-num {
  cursor: pointer;
  margin: 2rem 1rem;
}
.selected-page {
  font-weight: 800;
}



.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}